@import "./var";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Noto+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Noto+Sans+TC:wght@400&display=swap');

*, *::after, *::before{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    // font-family: 'Noto Sans TC', sans-serif;
}
.en{
    font-family: 'Jost', sans-serif;
}
body{
    margin: 0;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.title{
    font-size: 80px;
    letter-spacing: calc(80px * 0.28);
    line-height: 100px;
    font-weight: 800;
    color: $color-title;
    @include xxl{
        font-size: 55px;
        line-height: 85px;
    }
    @include m{
        font-size: 45px;
        line-height: 80px; 
        letter-spacing: calc(30px * 0.28);
    }
    @include s{
        font-size: 30px;
        line-height: 45px; 
        letter-spacing: calc(30px * 0.28);
    }
}
.title_en{
    font-size: 30px;
    letter-spacing: calc(30px * 0.06);
    line-height: 50px;
    font-weight: 400;
    color: $primary;
    @include xxl{
        font-size: 24px;
        letter-spacing: calc(26px * 0.06);
        line-height: 40px;
    }
}
.title-block{
    @include l{
        width: 100%;
        order: 1;
        text-align: center;
    }
    .title_en{
        margin-bottom: 10px;
        @include xxl{
            margin-bottom: 8px;    
        }
    }
    .title{
        margin-bottom: 80px;
        @include xxl{
            margin-bottom: 50px;    
        }
        @include l{
            margin-bottom: 30px;
        }
    }
}
.content{
    font-size: 16px;
    letter-spacing: calc(16px * 0.24);
    line-height: 30px;
    font-weight: 400;
    color: $color-content;
    @include s{
        font-size: 14px;
        letter-spacing: calc(14px * 0.18);
    }
}

.primary-btn{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: calc(16px * 0.24);
    color: #fff;
    background-color: $primary;
    border-radius: 8px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carousel-title, .sub-title{
    color: $color-content;
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 18px;
    font-weight: 700;
    letter-spacing: calc(30px * 0.24);
    @include s{
        font-size: 24px;
        line-height: 35px;
        letter-spacing: calc(24px * 0.24);
    }
}

